body {
  text-align: center;
  background: url("photo.jpg") center center/cover;
  font-family: Arial, sans-serif;
  font-size: 20px;
  display: flex;
  margin-top: 180px;
}

input,
select {
  border-radius: 5px;
}

input::placeholder {
  font-size: 14px;
  font-style: italic;
}

form {
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(20%) saturate(180%);
  backdrop-filter: blur(20%) saturate(180%);
  background-color: rgba(255, 255, 255, 0.7);
}

h1 {
  margin: 0, 0, 15px;
}

input,
select,
button,
a {
  padding: 10px;
  margin-bottom: 15px;
  width: 100px;
  font-size: 20px;
}

select {
  width: 60px;
  text-align: center;
}

button,
a {
  display: block;
  margin: 0 auto;
  width: 315px;
  background-color: #1d4ed8;
  color: white;
  border-radius: 10px;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}

button:hover {
  border-color: #fff;
  background-color: #1d4ed8;
  transform: scale(1.05);
}

a:hover {
  border-color: #fff;
  background-color: #1d4ed8;
  transform: scale(1.05);
}

a {
  margin-top: 20px;
}

@media print {
  a {
    display: none;
  }
}
